body {
    margin: 0;
    padding: 0;
    background-color: #2f2f2f;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

.animated-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
    overflow: hidden;
}

.animated-text span {
    position: relative;
}

.animated-text span::before {
    content: "Musician";
    color: #ff7f50;
    animation: words 20s infinite;
}

.animated-text span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #2f2f2f;
    border-left: 2px solid #ff7f50;
    right: -8px;
    animation: cusor .8s infinite, typing 4s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid #2f2f2f;
    }  
}

@keyframes words {
    0%, 20% {
        content: "Musician";
    }
    21%, 40% {
        content: "Friend";
    }
    41%, 60% {
        content: "Violinist";
    }
    61%, 80% {
        content: "Good Cook";
    }
    81%, 100% {
        content: "Fool lol";
    }
}

@keyframes typing {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80% {
        width: (calc(100% + 8px));
    }
}

h1 {
    color: #ff7f50;
}